.array-container {
  padding-top: 100px;
  margin: auto;
  width: 1100px;
  height: 500px;
}
.array-bar {
  display: inline-block;
  width: 9px;
  background-color: #3a3aa7;
  border: 1px solid black;
  margin: 0 -0.5px;
}
